*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f9f8f8;
  padding: 0;
  margin: 0;
}

/* Header */
.header-container {
  height: 8vh;
  display: flex;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(90deg, #355b7d9e, #6c5b7b90, #6cb2c0ad);
  padding: 20px 0 20px 40px;
  gap: 5px;
}

.header-container h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /*???*/
}

.header-container button {
  font-size: 18px;
  border: 1px solid black;
  padding: 2px 7px;
  background: none;
}

.header-container button:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 1px 1px 1px 1px #e0330845;
  transform: translate(0.6px, -0.7px);
  filter: brightness(70%);
}

.header-container button:active {
  transform: translate(0, 0);
  transition: 0.24s;
}

/* Grid */
.grid {
  display: flex;
  height: 92vh;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  background-color: #f9f8f8;
  display: flex;
  flex: 1;
}

.square:hover {
  background-color: black;
}