*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 440px;
  width: 400px;
  background-color: rgb(241, 241, 241);
  padding: 100px 0 0 0;
  margin: auto;
}

.container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.885);
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

/* Header */
.container h1 {
  padding: 4px 0 0 0;
  margin: 0;
}

.container button {
  color: white;
  font-size: 18px;
  border: 1px solid white;
  padding: 2px 7px;
  background: none;
}

.container button:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 1px 1px 1px 1px #e0330845;
  transform: translate(0.6px, -0.7px);
  filter: brightness(70%);
}

.container button:active {
  transform: translate(0, 0);
  transition: 0.24s;
}

/* Grid */
.grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  background-color: #f9f8f8;
  display: flex;
  flex: 1;
}

.square:hover {
  background-color: black;
}